@import 'nib'

#places, #history
  li
    min-height 77px
    .icon
      float left
      width 71px
    .details
      margin-left 75px
    img
      width 71px
      height 71px
    address, strong, small, q
      display block
      margin 0
    cite
      float left
    cite:after
      content ' — '
    strong
      font-size 15px
      overflow ellipsis
    small, q, cite
      color #999
      font-size 11px
      line-height 16px

#places
  padding-top 15px
  padding-bottom 15px
