include _mixins

.container
  .navbar.navbar-default.navbar-fixed-top(role="navigation")
    .navbar-header
      button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse")
        span.sr-only Basculer nav.
        span.icon-bar
        span.icon-bar
        span.icon-bar   
      a.navbar-brand(href="/") JS Total Plop

    .collapse.navbar-collapse.navbar-ex1-collapse
      ul.nav.navbar-nav
        li
          p.navbar-text
            i#onlineMarker.glyphicon.glyphicon-signal(title="Vous êtes connecté(e)")
            | &#32;  
            span= userName
      ul.nav.navbar-nav.navbar-right
        li
          p.navbar-text
            i.glyphicon.glyphicon-time
            | &#32;
            span#ticker= now
            | &nbsp;

  block main

  #reloadPrompt.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          button.close(data-dismiss="modal" aria-hidden="true") ×
          h4.modal-title Nouvelle version disponible !
        .modal-body
          p Une nouvelle version de cette application est disponible.
          p Souhaitez-vous la charger dès maintenant ?
        .modal-footer
          a.btn.btn-primary(href="") Mais carrément !
          +button('default')(data-dismiss="modal") Nan, pas la peine
