include _mixins

.modal-dialog
  .modal-content
    .modal-header
      button.close(data-dismiss="modal" aria-hidden="true") ×
      h4.modal-title #{userName} @ #{name} (#{checkInMoment(key)})
    .modal-body
      blockquote FIXME
    .modal-footer
      +button('primary')(data-dismiss="modal") OK, cool
