include _mixins  

header.row
  p#geoloc.lead.pull-left Je suis…
  .pull-right: +button('info') Chercher des endroits à proximité

ul#places.row.list-unstyled != placeList 

form#submission.row.form-inline(role="form")
  .col-sm-9.col-xs-12
    input#comment.form-control(type="text" placeholder="Votre commentaire ici…")
  .col-sm-3.col-xs-12
    +button('primary')(type="submit" disabled) Check-In !
    